<h2>Sign up</h2>

<% if @referral_key_present == false %>
  <p>Sorry, sign ups are only possible with a valid referral. Please use a valid referral link to sign up. Check your email for one if you were invited. If there was an error please ask an admin to regenerate it.</p>
<% elsif @referral_key_valid == false %>
  <p>Sorry, this sign up link does not have a valid referral key. Sign ups are only possible with a valid referral. Please use a valid referral link to sign up. Check your email for one if you were invited. If there was an error please ask an admin to regenerate it.</p>
<% else %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name, referral_key: @referral_key)) do |f| %>
    <p><%= render "devise/shared/error_messages", resource: resource %><p>

    <div class="form-group mb-3">
      <%= f.label :first_name, class: "form-label" %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :last_name, class: "form-label" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autocomplete: "email", readonly: true, value: @referred_email, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <div class="form-text">Minimun 6 characters</div>
    </div>

    <div class="form-group mb-3">
      <%= f.label "Confirm Password", class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
